<!DOCTYPE html>
<html>
  <head>
    <title>Control Will's Lights!</title>
    <script src="https://use.fontawesome.com/570780e9f3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
		<br>
		<div class="container">
			<div class="jumbotron">
				<h1 class="display-4">Control Will's Lights!</h1>
				<p class="lead">This is a simple web app that lets you turn lights on and off from the other side of the world!</p>
				<hr class="my-4">
				<p>(you don't actually have to be on the other side of the world. You can just be on the other side of the room. We won't judge you.)</p>
				<a class="btn btn-success btn-lg light" href="#" role="button">FLICK THE SWITCH!</a>
			</div>
		<div>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
  </body>
</html>
